.employee-item td {
    padding: 10px;
    text-align: left;
  }
  
  .action-buttons button {
    padding: 5px 10px;
    border: none;
    background: #30e602;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .action-buttons button:hover {
    background: #0056b3;
  }
  
  .action-buttons button:disabled {
    background: #ccc;
  }
  
  .editbutton{
    margin-right: 20px;
  }