/* EmployeeList.css */

.employee-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    text-align: center; /* Center align contents */
  }
  
  .employee-list h2 {
    margin-bottom: 20px;
  }
  
  .employee-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .employee-list th,
  .employee-list td {
    padding: 12px;
    text-align: center;
  }
  
  .employee-list th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .employee-list tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .employee-list .action-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .employee-list .action-buttons button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .employee-list .action-buttons button:hover {
    background-color: #0056b3;
  }
  
  .employee-list .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .employee-list .pagination button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
  }
  
  .employee-list .pagination button:hover {
    background-color: #0056b3;
  }
  
  .employee-list .pagination span {
    padding: 8px 12px;
    background-color: #f2f2f2;
    color: #333;
    margin: 0 5px;
  }
  