/* App.css */

.App {
  width: 80%; /* Takes up 80% of the screen width */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto;
}

header {
  background-color: #f0f0f0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  text-align: center; /* Center align all content within the header */
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.logout-button {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  width: auto;
}

.logout-button:hover {
  background-color: #d32f2f;
}

/* Ensure the button is positioned correctly */
header .logout-button {
  margin-left: auto; /* Pushes the button to the right */
}
